<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.css">
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.js"></script>
  <title>Speech Detection</title>
</head>
<body id= 'body'>
  <div id='container'></div>
  <div id="words" contenteditable>
  </div>

  <script src = 'src/index.js'></script>
  <link rel="stylesheet" type="text/css" href="src/main.css">
</body>
</html>
